<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742734159624-l1su627sbrs7q7qm5ubj9a4kuc4q5qgm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742734159624-l1su627sbrs7q7qm5ubj9a4kuc4q5qgm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>742734159624-5go4jio72qt7m1mtne8mhhl46gsvns23.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtTKKbS7DLT2HGutt6Zvp4zlX-rTzsZsg</string>
	<key>GCM_SENDER_ID</key>
	<string>742734159624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebaseapp</string>
	<key>PROJECT_ID</key>
	<string>fir-app-5a12b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-5a12b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742734159624:ios:7ffc7b8a44d0dfeff616bd</string>
</dict>
</plist>